@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

.prose table {
  border-color: var(--color-orange-300);
}

.prose thead {
  border-bottom-color: var(--color-orange-400);
}

.prose tbody tr {
  border-bottom-color: var(--color-orange-200);
}

.prose th,
.prose td {
  border-color: var(--color-orange-200);
}
